.tixCarousel {
    padding-top: 85px;
    .tixCaroulselTab {
        justify-content: center;
        border: none;
        padding-bottom: 30px;
        .nav-link.active, .nav-link {
            border: none;
            color: #000;
        }
        .nav-link {
            font-size: 20px;
            transition: all 0.3s;
            line-height: 25px;
            font-weight: 500;
            padding-right: 20px;
        }
        .nav-link.active {
            color: $color-text-3;
            font-size: 24px;

        }
    }
}
#tixCaroulselTabContent {
    .filmsOnShowCarrousel,
    .filmsOnSoonCarrousel {
        .item-wrap {
            padding: 20px 10px 0;
        }
        .movie-item {
            position: relative;
            padding-bottom: 40px;
            .start {
                position: absolute;
                right: 10px;
                top: 10px;
                background: $color-bg-3;
                border: 1px solid $color-border-1;
                border-radius: 5px;
                a {
                    padding: 5px 0;
                    display: block;
                    width: 54px;
                    text-align: center;
                }
                h4 {
                    color: #fff;
                    font-size: 16px;
                    margin-bottom: 1px;
                    line-height: unset;
                    transform: scaleY(1.2);
                }
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0;
                    span {
                        width: 8px;
                        height: 8px;
                        display: block;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .promo {
                position: absolute;
                left: -15px;
                top: 0;
                transform: translateY(-50%);
                width: 80%;
                max-width: 150px;
                img {
                    display: block;
                    width: 100%;
                }
            }
            &:hover {
                .movie-content .linear {
                    opacity: 1;
                    visibility: visible;
                }
                .bookTicket {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .movie-content {
            .movie-img {
                position: relative;
                height: 318px;
                img {
                    border-radius: 5px;
                    height: 100%;
                }
            }
            .linear {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top,#000,transparent 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;
                .btn-play-trailer {
                    outline: none;
                    border: none;
                    background: transparent;
                    width: 50px;
                    height: 50px;
                    img {
                        display: block;
                        width: 100%;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
                .btn-play-trailer-content {
                    display: none;
                }
            }
        }
        .movie-detail {
            margin-top: 10px;
            position: relative;
            p {
                font-size: 16px;
                font-weight: 500;
                color: #000;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0;
                height: 50px;
                span.age {
                    line-height: unset;
                    font-size: 14px;
                    background: $color-text-3;
                    display: inline-block;
                    padding: 1px 6px;
                    width: 40px;
                    text-align: center;
                    border-radius: 5px;
                    margin-right: 5px;
                    color: #fff;
                    &.green {
                        background: #00ac4d;
                    }
                }
            }
            .minutes {
                font-size: 13px;
                color: $color-bg-2;
                display: inline-block;
                font-weight: 500;
                // padding-top: 10px;
                // padding-bottom: 5px;
            }
            .bookTicket {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;
                button {
                    outline: none;
                    border: none;
                    background: linear-gradient(to left,#fb4226,#ce3017 100%);
                    font-weight: 600;
                    display: block;
                    width: 100%;
                    padding: 12px 0;
                    border-radius: 5px;
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }
}
.tixCarousel {
    .owl-carousel {
        .owl-nav {
            button {
                position: absolute;
                top: 42%;
                transform: translate(0, -50%);
                font-size: 130px;
                outline: none;
                border: none;
                span {
                    color: #bcbcbc;
                }
                &:hover {
                    background: none;
                    span {
                        color: #bcbcbc;
                    }
                }
            }
            .owl-prev {
                left: -45px;
            }
            .owl-next {
                right: -45px;
            }
        }
        .owl-item{
            imgP{
                height: 100% !important;
            }
        }
    }
}
@media screen and (max-width: 610px) {
    #tixCaroulselTabContent {
        .owl-nav {
            display: none;
        }
    }
}
// @media screen and (max-width: 768px) {
//     #tixCaroulselTabContent {
//         .movie-detail {
//             display: none;
//         }
//     }
// }