$color-text-1: #333;
$color-text-2: #9b9b9b;
$color-text-3: #fa5238;
$color-text-4:#108f3e;
$color-text-5:#8bc541;
$color-text-6:#949494;
$color-white: #fff;
$color-black: #000;
$color-bg-1: rgba(255,255,255,.95);
$color-bg-2: #4a4a4a;
$color-bg-3: rgba(12,27,54,.8);
$color-bg-4: #fb4226;
$color-bg-5: #00ac4d;
$color-bg-6:rgba(246,246,246,.5);
$color-bg-7:#222;
$color-bg-8:#60c5ef;
$color-border-1: #1f2e46;
$color-border-2: rgba(238,238,238,.88);

// Linear 
$color-linear-1: linear-gradient(to left,#fb4226,#ce3017 100%);

// font size
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-16: 16px;
$fs-18: 18px;
$fs-32: 32px;
$fs-20: 20px;



// box-shadow
$box-sha-1: 0 0 15px rgba(0,0,0,.3);
