.swal2-container {
    z-index: 100000;
}
/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: rgb(209, 202, 202);
}
*::-webkit-scrollbar-thumb {
  background: rgb(110, 105, 105);
  border-radius: 5px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;

  background: #fff;
  color: #333;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tix-container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.img {
  display: block;
  width: 100%;
}

.hover--color {
  color: #000;
  transition: color 0.3s;
}
.hover--color:hover {
  color: #fb4226;
}
/* Overriden bootstrap */
.btn {
  background: transparent;
  color: inherit;
  font-size: inherit;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}
.btn:hover {
  color: inherit;
}
.dropdown .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-item {
  transition: all 0.3s;
}
.dropdown-item:hover {
  background: #60c5ef;
  color: #fff;
}
.divide-line {
  position: relative;
}
.divide-line::after {
  content: "";
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: #c4c1c1;
}
.common-title {
  min-height: 24px;
  margin-right: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  border: none !important;
}
.common-title:hover  {
  font-size: 24px;
}
.common-title.active {
  color: #fa5238;
  font-size: 24px;
}
.common-age-type {
  display: inline-block;
  min-width: 33px;
  padding: 0 5px;
  margin-right: 8px;

  font-size: inherit;
  font-weight: 500;
  color: #fff;
  text-align: center;

  background-color: #fb4226;
  border-radius: 4px;
}
.play-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.linear-divide {
  padding-bottom: 120px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, #fff 70%);
    position: relative;
}
.linear-divide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, white, transparent);
}
.linear-divide::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(80deg, transparent, white);
}
.no--padding {
  padding: 0 !important;
}